<!DOCTYPE HTML>
<html>

<head>
    <style>
        body
        {
            background-image: url('static/ripp.jpg');
        }
        p
        {
            font-family: verdana;
            font-size: 20px;
        }

    </style>

</head>

<script>
    /*'use strict';
    let user = 'John',
        age = 10,
        message = 'hi';

        let str = "123";
            alert(typeof str);

        alert(user);
        alert(age);
        alert(`${user}`);*/
</script>

<div style="background-color: lightblue">
    <title>omgggg</title>

    <h3> pisikiri </h3>
    <h2> keskmine kiri</h2>
    <h1> suur kiri </h1>
</div>

<div style="font-family: cursive;">
    <p> jjj</p>
</div>

<div style="background-color: powderblue">
    <p> see jutt siin on harjutamine ns </p>
</div>

<script>
    /* 'use strict';
    [1,2].forEach(alert); */
</script>

<script>
    function myFunction(){
        var x = document.getElementById("demo");
        x.style.fontSize = "100px";
        x.style.color= "red";
        alert('UU');
    }
</script>
<button style="width: 500px"  onclick="myFunction()" >vajuta</button>

</body>

</html>