<html xmlns:th="http://www.thymeleaf.org">

<body>


<div th:if = "${pictureName==null}">
    <h3>Upload your profile picture!</h3>
    <form method="POST" enctype="multipart/form-data" action="/mypage">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>
<div>
    <h3>Väga ilus pilt!</h3>
   <img th:if="${pictureName}" th:src="'/files/'+${pictureName}"/>
</div>
</body>
</html>