<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="BitsPhones best online phone store. BitsPhones gives you a chance to quickly and easily find the phone you want.">
    <title>BitsPhones Store - Find a phone that is just for you.</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div id="pood"></div>

<div th:if="${not #lists.isEmpty(phoneList)}">
    <h2>Pood</h2>
    <div class="product-article-container">
        <ol class="oi-list oi-grid-products">
            <tr th:each="phone:${phoneList}">
            <li class="oi-item">
                <div class="oi-product-thumb">
                    <p class="image">
                        <a href="/buyPhone/">
                            <img th:src="@{'/static/' + ${phone.id} + '.png'}"
                                 th:title="${phone.id}"
                                 th:alt="${phone.id}"
                                 width="165" height="165"
                                 alt="Phone">
                        </a>
                    </p>
                    <h3 class="name">
                        <a href="/buyPhone/{id}">
                            <span>
                                <td th:text="${phone.model}"></td>
                            </span>
                        </a>
                    </h3>
                    <p class="productID"><td th:text="'Kood: '+${phone.id}"></td>
                    </p>
                    <div class="oi-product-bottom">
                        <p class="price"><td th:text="'Hind: '+${phone.price}">€</td></p>
                    </div>
                </div>
            </li>
            </tr>
        </ol>
    </div>
</div>
<br/>
</body>
</html>