<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
     
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129380971-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/static/js/HomePage.js"></script>
    <script src="/static/js/popup.js"></script>
    <script src="/static/js/Cart.js" async></script>
    <script src="/static/js/smartIdAuth.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/popup.css">
    <link rel="stylesheet" type="text/css" href="/static/css/storestyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-129380971-1');
    </script>
</head>
<body>

    <nav class="navbar navbar-expand-md sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/static/BitsLogo.png" alt="Logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <img src="/static/navbarIcon.png" alt="navbarIcon" />
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="store">Store</a>
                    </li>
                    
                    <li class="search-bar">
                        <form id="search">
                            <label for="search">Search</label>
                            <input name="q" type="text" size="40" placeholder="Search...">
                        </form>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage">My account</a>
                    </li>

                    <li class="nav-item" th:if="${currentuser} == 'noBodyHome'">
                        <div class="nav-item">
                            <a id="login-button" class="nav-link" href="#">Log in</a>
                        </div>
                    </li>


                    <li class="nav-item" th:if="${currentuser} != 'noBodyHome'">
                        <a id="Logout" class="nav-link" href="/logout">Log out</a>
                    </li>

                    <li class="nav-item" style="max-width:50px;">
                        <a href="pood"><img src="/static/EST.png" style="max-width:250%;" alt="EST" /></a>
                    </li>
                    <li class="nav-item" style="max-width:50px;">
                        <a href="store"><img src="/static/UK.png" style="max-width:250%;" alt="UK" /></a>
                    </li>


                </ul>
            </div>
        </div>
        <div id="popup-content">
            <ul>
                <li>
                    <a id="reallogin" class="nav-link" href="/login">Log in</a>
                </li>

            </ul>
            <div>
                <form class="form-horizontal" id="register" th:action="@{/register}" method="post">
                    <div class="form-group">
                        <button type="submit" id="bth-save">
                            Not a user? Sign up!
                        </button>
                    </div>
                </form>
            </div>
            <div>
                <input id="modal-close-button" type="button" value="Close" />
            </div>
        </div>
    </nav>

    <section class="container content-section">
        <h2 class="section-header">Store</h2>
        <div class="parent" id="store">
            <div th:if="${not #lists.isEmpty(phoneList)}">
                <ul>
                    <li class='child inline-block-child' id="phoneObject" th:each="phone:${phoneList}">
                        <p class="image">
                            <a>
                                <img id="phoneImg" th:src="@{'/static/' + ${phone.id} + '.png'}"
                                     th:title="${phone.id}"
                                     th:alt="${phone.id}"
                                     width="165" height="165">
                            </a>
                        </p>
                        <div class="phoneInfo">
                            <h1 class="phoneTitle">
                                <span th:text="${phone.model}"></span>
                            </h1>

                            <div class="oi-product-bottom">
                                <p class="price" th:text="'Price: '+${phone.price} + '€'"></p>
                            </div>
                            <div class="oi-product-bottom" th:if="${phone.amount<5}">
                                <p class="amount" th:text="'Only '+${phone.amount} + ' pieces left in stock!'"></p>
                            </div>
                        </div>
                        <div class="cta">
                            <button class="getstarted-button" th:id="'addit'+${phone.id}">Add to Cart!</button>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="parent">
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price">0€</span>
        </div>
        <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </div>
    </section>


    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="/static/BitsLogo.png" alt="Logo" />
                    <hr class="light" />
                    <p>+372 5555 5555</p>
                    <p>bitsphonesplease@gmail.com</p>
                    <p>Liivi 2</p>
                    <p>Tartu, Tartumaa, 00000</p>
                </div>
                <div class="col-md-4">
                    <hr class="light" />
                    <h5>Open hours</h5>
                    <hr class="light" />
                    <p>Monday - Friday: 10pm - 7pm</p>
                    <p>Saturday - Sunday: 10pm - 3pm</p>
                </div>
                <div class="col-md-4">
                    <hr class="light" />
                    <h5>Map</h5>
                    <hr class="light" />
                    <div id="map"></div>

                </div>
                <div class="col-12">
                    <hr class="light-100" />
                    <h5>&copy; bitsphones.com</h5>
                    <span id="ip"></span>
                    <p id="platform"></p>
                    <div>
                        <h4 th:text="'Total '+${usercount}+' users registred.'">usereid nii palju</h4>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script>
        function initMap() {
            var loc = { lat: 58.3782485, lng: 26.7073115 };
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 14, center: loc });
            var marker = new google.maps.Marker({ position: loc, map: map });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLxhiodRtf-8ZeeNnLNw0vgQkcGdTWB2U&callback=initMap">
    </script>
    
</body>
</html>