<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129380971-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129380971-1');
    </script>
</head>
<body>
<div id="store"></div>

<div th:if="${not #lists.isEmpty(phoneList)}">
    <h2>Store</h2>
    <div class="product-article-container">
        <ol class="oi-list oi-grid-products">
            <li class="oi-item" th:each="phone:${phoneList}">
                <div class="oi-product-thumb">
                    <p class="image">
                        <a href="/buyPhone/">
                            <img th:src="@{'/static/' + ${phone.id} + '.png'}"
                                 th:title="${phone.id}"
                                 th:alt="${phone.id}"
                                 width="165" height="165">
                        </a>
                    </p>
                    <h3 class="name">
                        <a href="/buyPhone/{id}">
                            <span th:text="${phone.model}">
          
                            </span>
                        </a>
                    </h3>
                    <p class="productID" th:text="${phone.model}">
                    </p>
                    <div class="oi-product-bottom">
                        <p class="price" td th:text="'Price: '+${phone.price} + '€'"></p>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>
<br/>
</body>
</html>